{% extends "base.html" %}
{% load leaflet_tags static sekizai_tags compress%}
{% block title %}Votre itinéraire{% endblock %}

{% block content %}
        <h1 class="text-center">Personnaliser votre itinéraire</h1>
        <p>Distance totale de votre randonnée : {{total_length|floatformat:2}} km</p>
        <!--<div id="toolbar">
            <ul>
                <li><a href="#"><i class="fa fa-floppy-o"></i></a></li>
                <li><a id="generate-pdf" href="#"><i class="fa fa-file-pdf-o"></i></a></li>
            </ul>
        </div> -->
        {% for poi in poi_list %}
        <div class="row">
            {%if poi.type.slug == 'hebergement' %}
            <div class="col-md-2">
                <div id='map-{{poi.id }}'>
                </div>
            </div>
            <div class="col-md-10">
                <h2>{{poi.distance|floatformat:2}} m - {{poi.name}}</h2>
                <div class="form-group">
                    <label for="path-step-{{poi.id}}-comment">Commentaire</label>
                    <textarea class="form-control" name="path-step-{{poi.id}}-comment" rows="8"></textarea>
                </div>
            </div>
            {% else %}
            <div class="col-md-10 offset-md-2">
                <h5>{{poi.distance}} - {{poi.name}}</h5>
            </div>
            {% endif %}
        </div>
        {% endfor %}


{% addtoblock "css" %}
<style>
    .leaflet-container {
        /* width:  350px; */
        height: 300px;
    }
</style>
<link rel="stylesheet" href="{% static 'poimap/css/path_step.css' %}">
{% leaflet_css %}
<link rel="stylesheet" href="{% static 'leaflet.awesome-markers/dist/leaflet.awesome-markers.css' %}">
{% endaddtoblock %}
{% addtoblock "prior_js" %}
{% endaddtoblock %}
{% addtoblock "js" %}
{% compress js %}
{% leaflet_js %}
<script src="{% static '@turf/turf/turf.min.js' %}" charset="utf-8"></script>
<script src="{% static 'leaflet.awesome-markers/dist/leaflet.awesome-markers.min.js' %}" charset="utf-8"></script>
{% endcompress %}
{# {% compress js inline %}#}
<script type="text/javascript">

        $(document).ready(function(){
            $.getJSON("{% url 'path-api-detail' path_slug %}").done(function(data){
                var path = L.geoJSON(data);
                function generateMap(mapId, coords){
                    var map = L.map(mapId).setView(coords, 9);
                    var bboxNorthWestCoords = map.getBounds().getNorthWest();
                    var bboxSouthEastCoords = map.getBounds().getSouthEast();
                    var start = turf.point([bboxNorthWestCoords.lng, bboxNorthWestCoords.lat]);
                    var stop = turf.point([bboxSouthEastCoords.lng, bboxSouthEastCoords.lat]);
                    var sliced = turf.lineSlice(start, stop, path.toGeoJSON().features[0]);
                    L.tileLayer('https://{s}.tile.thunderforest.com/outdoors/{z}/{x}/{y}.png?apikey=3e3f2b7b947b4cdebeced62f95046ed7', {}).addTo(map);
                    L.geoJSON(sliced, { color : 'red'}).addTo(map)
                    var marker = L.marker(coords).addTo(map);

                    map.scrollWheelZoom.disable();
                    map.dragging.disable()
                }
                {% for poi in poi_list %}
                {%if poi.type.slug == 'hebergement' %}
                var poi{{poi.id}}coords = [{{poi.geom.coords.1|stringformat:"f"}}, {{poi.geom.coords.0|stringformat:"f"}}]
                generateMap("map-{{poi.id}}", poi{{poi.id}}coords)
                {% endif %}
                {% endfor %}

                $(".leaflet-control-attribution").remove();
                $(".leaflet-control-scale").remove();
                $(".leaflet-control-zoom").remove();
            });

            $(".path-step-selector .fa").hover(function(){
                $(this).toggleClass(function() {
                    if ($(this).is(".fa-eye")) {
                        return "fa-eye-slash";
                    } else {
                        return "fa-eye";
                    }
                })
            });
            $(".path-step-selector").click(function(){
                event.preventDefault();
                var stepId = $(this).data("step-id");
                $(this).find("i").toggleClass(function() {
                    $(`#path-step-${stepId}`).toggleClass("not-selected");
                    if ($(this).is(".fa-eye")) {
                        $(`input[name=path-step-${stepId}-selected]`).val(false);
                        return "fa-eye-slash";
                    } else {
                        $(`input[name=path-step-${stepId}-selected]`).val(true);
                        return "fa-eye";
                    }
                });
                return false;
            });

            $("#generate-pdf").click(function(){
                event.preventDefault();
                var pdf = new jsPDF('p','pt','a4');

                var doc = $(document.body).clone();
                $(doc).find(".leaflet-container").remove();
                pdf.addHTML(doc[0],function() {
                    pdf.save('a4.pdf')
                });
            });
        })
</script>
{# {% endcompress %}#}
{% endaddtoblock%}
{% endblock %}
