{% extends "base.html" %}
{% load leaflet_tags static sekizai_tags compress bootstrap4 %}
{% block content %}
<div class="row">
    <div class="col-md-12">
        <h1 class="text-center">Carte du {{area.name}}</h1>
    </div>
</div>
<div class="row">
    <div class="col-md-8">
        <div id='map'>
            {% leaflet_map "main" callback="main_map_init" settings_overrides=map_settings%}
        </div>
    </div>
    <div class="col-md-4">
        <div class="row">
            <div class="col-md-12">
                {% include "poimap/partial/path_elevation_chart.html"%}
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <form class="" action="{% url 'itinerary' area.slug %}" method="post">
                    {% csrf_token %}
                    <h4>
                        Distance totale
                        <span id="distance"></span>
                    </h4>
                    {% bootstrap_form form%}
                    {% if POI_CUSTOM_ITINERARY %}
                        {% buttons %}
                        <button type="submit" class="btn btn-primary">Personnaliser mon itinéraire</button>
                        {% endbuttons %}
                    {% endif %}
                </form>
            </div>
        </div>
    </div>
</div>
{% addtoblock "css" %}
{% leaflet_css %}
<link rel="stylesheet" href="{% static 'leaflet.awesome-markers/dist/leaflet.awesome-markers.css' %}">
<style media="screen">
    .leaflet-container {
        height: 500px;
    }
</style>
{% endaddtoblock %}

{% addtoblock "js" %}
{% compress js %}
{% leaflet_js %}
<script src="{% static 'leaflet.awesome-markers/dist/leaflet.awesome-markers.min.js' %}" charset="utf-8"></script>
<script src="{% static '@turf/turf/turf.min.js' %}" charset="utf-8"></script>
<script src="{% static '@mapbox/togeojson/togeojson.js' %}" charset="utf-8"></script>
<script src="{% static 'leaflet-knn/leaflet-knn.min.js' %}" charset="utf-8"></script>
<script src="{% static 'poimap/js/poimap.utils.js' %}" charset="utf-8"></script>
{{form.media}} <!--/static/poimap/js/custom_itinerary.js-->
{% endcompress %}
{% compress js inline %}
<script type="text/javascript">

    function main_map_init(map, options) {
        {% include "poimap/scripts/global_vars.js" with area_slug=area.slug %}
        {% include "poimap/scripts/fetch_poi.js"  with area_slug=area.slug %}
        {% include "poimap/scripts/fetch_area.js"  with area_slug=area.slug %}

        var fullPath = null;
        var path = null;

        function computePath(){
            var sliced = turf.lineSlice(startPoint.toGeoJSON(), endPoint.toGeoJSON(), fullPath.toGeoJSON().features[0]);

            if(path) {
                map.removeLayer(path)
            }
            path = L.geoJSON(sliced, { color : 'red'}).addTo(map);
            map.fitBounds(path.getBounds());

            var length = turf.length(sliced);
            $("#distance").text(length.toFixed(2));

            fetchPOI();
            console.log(sliced.geometry.coordinates);
            $(document).trigger("poimap:update-elevation-chart", [sliced.geometry.coordinates])
        }

        $(document).on("poimap:fetch-data", function(evt, area){

            $.getJSON("{% url 'api-area-paths' area.slug %}").done(function(paths){
                $.each(paths.features, function(index, path_){
                    if(path_.properties.is_root){
                        fullPath = L.geoJSON(path_).addTo(map)
                        $(document).trigger("poimap:update-elevation-chart", [path_.geometry.coordinates])
                        return
                    }
                });
            });

            fetchPOI().done(function(){
                computePath()

                $(document).on("poimap:itinerary-bounds-change", function (evt, startPoiId, endPoiId) {
                    startPoint = allPOI[startPoiId][1]
                    endPoint = allPOI[endPoiId][1]

                    computePath()
                })
            });


        });

        $(document).on("poimap:fetch-secondary-data", function(evt, bboxCoords){
            $.getJSON("{% url 'api-subpath-list' area.slug %}?bbox="+bboxCoords.join(',')).done(function(data){
                $.each(data.features, function(index, path){
                    var subpath = L.geoJSON(path);
                    if(secondaryPathLayers == null){
                        secondaryPathLayers = {"Chemin secondaire" : L.layerGroup()}
                    }
                    secondaryPathLayers["Chemin secondaire"].addLayer(subpath)
                });
                if(len(secondaryPathLayers)){
                    secondaryPathLayerControl = L.control.layers(null, secondaryPathLayers, {collapsed : false}).addTo(map);
                }
            });
        });
    }
</script>
{% endcompress %}
{% endaddtoblock%}
{% endblock %}
