{% extends "base.html" %}
{% load leaflet_tags static sekizai_tags compress%}
{% block content %}
<div class="row">
    <div class="col-md-12">
        <h1 class="text-center">Carte du {{area.name}}</h1>
    </div>
</div>
<div class="row">
    <div class="col-md-8">
        <div id='map'>
            {% leaflet_map "main" callback="main_map_init" settings_overrides=map_settings%}
        </div>
    </div>
    <div class="col-md-4">
        <div class="row">
            <div class="col-md-12">
                <form class="" action="{% url 'itinerary' area.slug %}" method="post">
                    {% csrf_token %}
                    <table class="table">
                        <tr>
                            <td>Départ</td>
                            <td id="start-{{area.slug}}">
                                <span class="geo-text"></span>
                                <input class="geo-info" type="hidden" name="start"/>
                            </td>
                        </tr>
                        <tr>
                            <td>Arrivé</td>
                            <td id="end-{{area.slug}}">
                                <span class="geo-text"></span>
                                <input class="geo-info" type="hidden" name="end"/>
                            </td>
                        </tr>
                        <tr>
                            <td>Distance totale</td>
                            <td id="distance"></td>
                        </tr>
                        <tr>
                            <td>Kms journaliers</td>
                            <td>
                                <select id="kmPerDay" name="kmPerDay">
                                    <option value="10" selected>10 km</option>
                                    <option value="20">20 km</option>
                                    <option value="30">30 km</option>
                                </select>
                            </td>
                        </tr>
                    </table>
                    {% if POI_CUSTOM_ITINERARY %}
                    <button type="submit" name="button">Personnaliser mon itinéraire</button>
                    {% endif %}
                </form>
            </div>
        </div>
    </div>
</div>
{% addtoblock "css" %}
{% leaflet_css %}
<link rel="stylesheet" href="{% static 'leaflet.awesome-markers/dist/leaflet.awesome-markers.css' %}">
<style media="screen">
    .leaflet-container {
        height: 500px;
    }
</style>
{% endaddtoblock %}

{% addtoblock "js" %}
{% compress js %}
{% leaflet_js %}
<script src="{% static 'leaflet.awesome-markers/dist/leaflet.awesome-markers.min.js' %}" charset="utf-8"></script>
<script src="{% static 'turf/turf.min.js' %}" charset="utf-8"></script>
<script src="{% static '@mapbox/togeojson/togeojson.js' %}" charset="utf-8"></script>
<script src="{% static 'leaflet-knn/leaflet-knn.min.js' %}" charset="utf-8"></script>
<script src="{% static 'poimap/js/poimap.utils.js' %}" charset="utf-8"></script>
{% endcompress %}
{% compress js inline %}
<script type="text/javascript">
    function main_map_init(map, options) {
        var originalPath = null
        var isOriginalDisplay = true;
        var isCustomDisplay = false;

        var path = null;

        var checkpoints = [];

        {% include "poimap/scripts/global_vars.js" with area_slug=area.slug %}
        {% include "poimap/scripts/fetch_poi.js"  with area_slug=area.slug %}
        {% include "poimap/scripts/fetch_area.js"  with area_slug=area.slug %}


        $(document).on("poimap:fetch-data", function(evt, area){
            $.getJSON("{% url 'api-area-paths' area.slug %}").done(function(paths){
                $.each(paths.features, function(index, path_){
                    if(path_.properties.is_root){
                        originalPath = path = L.geoJSON(path_)
                        var startPointOptions = {
                            draggable: true,
                            icon : startIcon,
                            labelId : "#start-"+path_.properties.slug
                        }

                        var endPointOptions = {
                            draggable: true,
                            icon :endIcon,
                            labelId : "#end-"+path_.properties.slug
                        }
                        var coords = path_.geometry.coordinates
                        startPoint = L.marker([coords[0][1], coords[0][0]], startPointOptions).addTo(map);
                        endPoint = L.marker([coords[coords.length-1][1], coords[coords.length-1][0]], endPointOptions).addTo(map);

                        startPoint.applyDragEventListener(originalPath, startPointOptions);
                        endPoint.applyDragEventListener(originalPath, endPointOptions);

                        startPoint.fetchGeoInfo(startPointOptions.labelId)
                        endPoint.fetchGeoInfo(endPointOptions.labelId)

                        function computePath(){
                            if(startPoint && endPoint){
                                var sliced = turf.lineSlice(startPoint.toGeoJSON(), endPoint.toGeoJSON(), originalPath.toGeoJSON().features[0]);

                                if(isOriginalDisplay) {
                                    originalPath.addTo(map);
                                    map.fitBounds(originalPath.getBounds());
                                    map.options.minZoom = map.getZoom();
                                    isOriginalDisplay = false;
                                }
                                else {
                                    if(!isCustomDisplay){
                                        isCustomDisplay = true;
                                    }
                                    else {
                                        map.removeLayer(path)
                                    }
                                    path = L.geoJSON(sliced, { color : 'red'}).addTo(map);
                                    map.fitBounds(path.getBounds());
                                }
                                var length = turf.lineDistance(sliced, 'kilometers');
                                $("#distance").text(length.toFixed(2));

                                $("#kmPerDay").change()
                                fetchPOI();
                            }
                        }

                        computePath();

                        function updateCheckPoints(steps, stepLength) {
                            for (var i = 0; i < checkpoints.length; i++) {
                                map.removeLayer(checkpoints[i])
                            }
                            checkpoints = []
                            var geop = path.toGeoJSON().features[0]
                            for (var i = 1; i <= steps-1; i++) {
                                var along = turf.along(geop, stepLength * i, 'kilometers');
                                L.geoJSON(along, {
                                    pointToLayer: function (feature, latlng) {
                                        var checkpoint = L.circleMarker(latlng, {
                                            radius : 2,
                                            color : 'red',
                                            fill : "red"
                                        });
                                        checkpoints.push(checkpoint);
                                        return checkpoint
                                    }
                                }).addTo(map);
                            }
                        }
                        startPoint.on('dragend', computePath);
                        endPoint.on('dragend', computePath);

                        $("#kmPerDay").on("change", function(){
                            var geop = path.toGeoJSON().features[0]
                            var length = turf.lineDistance(geop, 'kilometers');

                            var stepLength = parseFloat($(this).val());
                            var steps = Math.round(length / stepLength);

                            updateCheckPoints(steps, stepLength);
                        });
                        $("#kmPerDay").change()
                    }
                });
            });
        });

        $(document).on("poimap:fetch-secondary-data", function(evt, bboxCoords){
            $.getJSON("{% url 'api-subpath-list' area.slug %}?bbox="+bboxCoords.join(',')).done(function(data){
                $.each(data.features, function(index, path){
                    var subpath = L.geoJSON(path);
                    if(secondaryPathLayers == null){
                        secondaryPathLayers = {"Chemin secondaire" : L.layerGroup()}
                    }
                    secondaryPathLayers["Chemin secondaire"].addLayer(subpath)
                });
                if(len(secondaryPathLayers)){
                    secondaryPathLayerControl = L.control.layers(null, secondaryPathLayers, {collapsed : false}).addTo(map);
                }
            });
        });
    }
</script>
{% endcompress %}
{% endaddtoblock%}
{% endblock %}
