.address {
    width: 50%;
    float: left;
}

.location {
    width: 50%;
    float: left;
}

.field-box.field-zipcode, .field-box.field-city, .field-box.field-country {
    width: 30%;
}

.field-address {
    margin-bottom: 1em;

}

fieldset.address {
    float: left;
    width: 45%;
    margin-right: 1em;
}

fieldset.location {
    float: left;
    width: 50%;
}

fieldset.address input {
    width: 100% !important;
}

.field-box input, .field-box select {
    width: 100% !important;
}
