{% extends "base.html" %} {% load leaflet_tags static %} {% block title %}Carte des hébergeurs{% endblock %} {% block main %}
<div class="container-fluid">
    <h1 class="text-center">Carte des hébergeurs</h1>
    <div class="row">
        <div class="col-md-8">
            <div id='map'>
                {% leaflet_map "main" callback="main_map_init" %}
            </div>
        </div>
        <div class="col-md-4">
            <table class="table">
                <tr>
                    <td>Départ</td>
                    <td id="start">
                        <span class="geo-text"></span>
                        <input class="geo-info" type="hidden" name="start"/>
                    </td>
                </tr>
                <tr>
                    <td>Arrivé</td>
                    <td id="end">
                        <span class="geo-text"></span>
                        <input class="geo-info" type="hidden" name="end"/>
                    </td>
                </tr>
                <tr>
                    <td>Distance totale</td>
                    <td id="distance"></td>
                </tr>
                <tr>
                    <td>Jours de marche</td>
                    <td>
                        <input id="steps" type="text" name="steps" value="1" >
                    </td>
                </tr>
                <tr>
                    <td>Kms journaliers</td>
                    <td>
                        <input id="kmPerDay" type="number" name="kmPerDay" value="">
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <button class="btn btn-primary btn-lg" id="ok" type="button" name="button">OK</button>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>
<link rel="stylesheet" href="{% static 'bower_components/Leaflet.awesome-markers/dist/leaflet.awesome-markers.css' %}">
<script src="{% static 'bower_components/turfjs/turf.min.js' %}" charset="utf-8"></script>
<script src="{% static 'bower_components/togeojson/togeojson.js' %}" charset="utf-8"></script>
<script src="{% static 'bower_components/leaflet-knn/leaflet-knn.min.js' %}" charset="utf-8"></script>
<script src="{% static 'bower_components/Leaflet.awesome-markers/dist/leaflet.awesome-markers.min.js' %}" charset="utf-8"></script>
<script type="text/javascript">
    var originalPath = null
    var path = null;
    var startPoint = null;
    var endPoint = null;
    var checkpoints = [];

    var _lastParamId = null

    var gpxFile = '{% static 'urbain_v.gpx' %}'; // URL to your GPX file or the GPX itself

    var startIcon = L.AwesomeMarkers.icon({
        icon: 'flag',
        prefix : 'fa',
        markerColor: 'green'
    });
    var endIcon = L.AwesomeMarkers.icon({
          icon: 'flag',
          prefix : 'fa',
          markerColor: 'red'
    });

    L.Marker.prototype.fetchGeoInfo = function(labelId) {
        $.ajax({
            dataType: "json",
            url: "https://maps.googleapis.com/maps/api/geocode/json",
            data: {
                latlng : this.getLatLng().lat+","+this.getLatLng().lng,
                language : 'fr',
                location_type : 'GEOMETRIC_CENTER',
                key : "AIzaSyAThNRSpWOhnA2EGSeshFqLolrTPQx1hjo"
            },
            success: function(data){
                if(data.status == "OK"){
                    if(data.results.length > 0) {
                        var poiResult = data.results[0];
                        $(labelId+" span.geo-text").text(poiResult.formatted_address);
                        $(labelId+" input").val(poiResult.formatted_address);
                    }
                }
            }
        });
    }

    L.Marker.prototype.applyDragEventListener = function (currentPath, markerOptions) {
        this.on('drag', function(e) {
            var nearest = leafletKnn(currentPath).nearest(e.target.getLatLng(),1)[0];
            this.setLatLng([nearest.lat, nearest.lon]);
        });
        // this.on('dragstart', function(e) {
        // });
        this.on('dragend', function(e) {
            this.fetchGeoInfo(markerOptions.labelId)
        });
    }

    function main_map_init(map, options) {
        $.ajax(gpxFile).done(function(gpx) {
            var isOriginalDisplay = true;
            var isCustomDisplay = false;

            var geojson = toGeoJSON.gpx((new DOMParser()).parseFromString(gpx, 'text/xml'), null, 4);
            originalPath = path = L.geoJSON(geojson)

            var coords = geojson.features[0].geometry.coordinates

            var startPointOptions = {
                draggable: true,
                icon : startIcon,
                labelId : "#start"
            }

            var endPointOptions = {
                draggable: true,
                icon :endIcon,
                labelId : "#end"
            }

            startPoint = L.marker([coords[0][1], coords[0][0]], startPointOptions).addTo(map);
            endPoint = L.marker([coords[coords.length-1][1], coords[coords.length-1][0]], endPointOptions).addTo(map);

            startPoint.applyDragEventListener(originalPath, startPointOptions);
            endPoint.applyDragEventListener(originalPath, endPointOptions);

            startPoint.fetchGeoInfo(startPointOptions.labelId)
            endPoint.fetchGeoInfo(endPointOptions.labelId)

            function computePath(){
                if(startPoint && endPoint){
                    var sliced = turf.lineSlice (startPoint.toGeoJSON(), endPoint.toGeoJSON(), originalPath.toGeoJSON().features[0]);
                    if(isOriginalDisplay) {
                        originalPath.addTo(map);
                        map.fitBounds(originalPath.getBounds());
                        map.options.minZoom = map.getZoom();
                        map.dragging.disable();
                        isOriginalDisplay = false;
                    }
                    else {
                        if(!isCustomDisplay){
                            isCustomDisplay = true;
                        }
                        else {
                            map.removeLayer(path)
                        }
                        path = L.geoJSON(sliced, { color : 'red'}).addTo(map);
                        map.fitBounds(path.getBounds());
                    }
                    var length = turf.lineDistance(sliced, 'kilometers');
                    $("#distance").text(length.toFixed(2));

                    $(_lastParamId).keyup()
                }
            }
            
            computePath();
            startPoint.on('dragend', computePath);
            endPoint.on('dragend', computePath);

            function updateCheckPoints(steps, stepLength) {
                for (var i = 0; i < checkpoints.length; i++) {
                    map.removeLayer(checkpoints[i])
                }
                checkpoints = []
                var geop = path.toGeoJSON().features[0]
                for (var i = 1; i <= steps-1; i++) {
                    var along = turf.along(geop, stepLength * i, 'kilometers');
                    L.geoJSON(along, {
                        pointToLayer: function (feature, latlng) {
                            var checkpoint = L.marker(latlng, {
                                icon : L.AwesomeMarkers.icon({
                                    icon: 'star',
                                    prefix : 'fa',
                                })
                            });
                            checkpoints.push(checkpoint);
                            return checkpoint
                        }
                    }).addTo(map);
                }
            }

            $("#steps").on("keyup", function(){
                var geop = path.toGeoJSON().features[0]
                var length = turf.lineDistance(geop, 'kilometers');

                var steps = parseInt($(this).val())
                var stepLength = length/steps;
                updateCheckPoints(steps, stepLength);
                _lastParamId = "#steps";
                $("#kmPerDay").val(stepLength.toFixed(2));
            })
            $("#kmPerDay").on("keyup", function(){
                var geop = path.toGeoJSON().features[0]
                var length = turf.lineDistance(geop, 'kilometers');

                var stepLength = parseFloat($(this).val());
                var steps = Math.round(length / stepLength);

                updateCheckPoints(steps, stepLength);
                _lastParamId = "#kmPerDay";
                $("#steps").val(steps);
            })
        });

        {% for poi in object_list %}
        L.marker([{{poi.address.geom.coords.1|stringformat:"f"}},
                  {{poi.address.geom.coords.0|stringformat:"f"}}], {
                      icon : L.AwesomeMarkers.icon({
                            icon: '{{poi.type.icon}}',
                            prefix : 'fa',
                      })
                  }).addTo(map);
        {% endfor %}
    }
</script>
{% endblock %}
