{% extends "base.html" %}
{% load static sekizai_tags %}

{%block content %}

{% addtoblock 'css' %}

    <link rel="stylesheet" href="{% static 'leaflet/dist/leaflet.css' %}">
{% endaddtoblock %}

    <div id="app" class="container">
        <div class="row">
            <div class="col-md-12 col-lg-12">
                PLOP
            </div>

        </div>
        <div class="row">
            <div class="col-md-10 col-lg-10">
                <v-map :zoom=9 :center="[44.5445,3.4909]" style="height: 500px">
                    <v-tilelayer url="http://{s}.tile.osm.org/{z}/{x}/{y}.png"></v-tilelayer>
                    <v-marker v-for="stop in stops" :key="stop.id" :lat-lng="stop.properties.coords">
                        <v-popup :content="stop.properties.name"></v-popup>
                    </v-marker>
                </v-map>
            </div>
            <div class="col-md-2 col-lg-2">

            </div>
        </div>
    </div>

    {% addtoblock 'js' %}
    <script src="{% static 'leaflet/dist/leaflet.js' %}" charset="utf-8"></script>
    <script src="{% static 'vue/dist/vue.min.js' %}" charset="utf-8"></script>
    <script src="{% static 'vue2-leaflet/dist/vue2-leaflet.min.js' %}" charset="utf-8"></script>
    <script src="{% static 'axios/dist/axios.min.js' %}" charset="utf-8"></script>

    <script type="text/javascript">
        Vue.component('v-map', Vue2Leaflet.Map);
        Vue.component('v-tilelayer', Vue2Leaflet.TileLayer);
        Vue.component('v-marker', Vue2Leaflet.Marker);
        Vue.component('v-popup', Vue2Leaflet.Popup);

        new Vue({
            delimiters: ['${', '}'],
            el: '#app',
            data: () => ({
                stops: null,
                center : null,
            }),
            created() {
                axios.get(`/api/stop/list`)
                .then(response => {
                    let feat = response.data.features;
                    this.stops = feat.length > 0 ? response.data.features : null;
                })
            }
        });
    </script>
{% endaddtoblock %}
{% endblock content %}
