{%load leaflet_tags sekizai_tags static %}

<div id="mapid"></div>

{% addtoblock 'css' %}
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css" />
<link rel="stylesheet" href="{% static 'beautifymarker/leaflet-beautify-marker-icon.css' %}">
<style media="screen">
    .leaflet-container {
        height: 500px;
    }
    #main .svg-inline--fa {
        font-size: 1.2em;
        margin-top: 10px;
    }
</style>
{% endaddtoblock %}
{% addtoblock 'js' %}
<script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"></script>
<script src="{% static 'beautifymarker/leaflet-beautify-marker-icon.js' %}" charset="utf-8"></script>
<script src="{% static '@turf/turf/turf.min.js' %}" charset="utf-8"></script>
<script src="{% static 'poimap/js/global_vars.js' %}" charset="utf-8"></script>
<script src="{% static 'poimap/js/poimap.utils.js' %}" charset="utf-8"></script>
<script src="{% static 'poimap/js/fetch_poi.js' %}" charset="utf-8"></script>
<script type="text/javascript">
        $(document).ready(function () {
            map = L.map('mapid').setView([51.505, -0.09], 10);
            L.tileLayer('//{s}.tile.openstreetmap.fr/osmfr/{z}/{x}/{y}.png', {
                maxZoom: 20,
                maxNativeZoom: 20,
            }).addTo(map);

            fetchArea(map, "{% url 'api-area' instance.area_display.slug %}").done(function(){
                $.getJSON("{% url 'api-area-paths' instance.area_display.slug %}").done(function(paths){
                    $.each(paths.features, function(index, path_){
                        if(path_.properties.is_root){
                            fullPath = L.geoJSON(path_).addTo(map)
                            {% if start_point and end_point %}
                            startPoint = L.marker([{{start_point.coords.lat|stringformat:"f"}}, {{start_point.coords.lng|stringformat:"f"}}]).addTo(map)
                            endPoint = L.marker([{{end_point.coords.lat|stringformat:"f"}}, {{end_point.coords.lng|stringformat:"f"}}]).addTo(map)
                            path = computePath(map, fullPath, path)
                            {% endif %}
                            $(document).trigger("poimap:update-elevation-chart", [path_.geometry.coordinates])
                            return
                        }
                    });
                });
            });

            {% if not start_point and not end_point %}
            $(document).on("poimap:fetch-data", function(evt, area){
                fetchPOI(map, "{% url 'api-poi-list' %}", {
                    poiTypeSlugs : "{{poi_type_slugs|join:','}}",
                    hideControl : {% if instance.hide_control %}true{% else %}false{% endif %},
                }).done(function(){
                    path = computePath(map, fullPath, path)
                    $(document).on("poimap:itinerary-bounds-change", function (evt, startPoiId, endPoiId) {
                        startPoint = allPOI[startPoiId][1]
                        endPoint = allPOI[endPoiId][1]
                        path = computePath(map, fullPath, path)
                    })
                });
            });
            {% endif %}
            $(document).on("poimap:fetch-secondary-data", function(evt, map, bboxCoords){
                $.getJSON("{% url 'api-subpath-list' instance.area_display.slug %}?bbox="+bboxCoords.join(',')).done(function(data){
                    $.each(data.features, function(index, path){
                        var subpath = L.geoJSON(path);
                        if(secondaryPathLayers == null){
                            secondaryPathLayers = {"Chemin secondaire" : L.layerGroup()}
                        }
                        secondaryPathLayers["Chemin secondaire"].addLayer(subpath)
                    });
                    if(len(secondaryPathLayers)){
                        secondaryPathLayerControl = L.control.layers(null, secondaryPathLayers, {collapsed : false}).addTo(map);
                    }
                });
            });
        })
</script>
{% endaddtoblock %}
