{%load leaflet_tags sekizai_tags static %}

<div id="cards">

</div>


{% include "poimap/partial/poi_card.hbs" %}
{% addtoblock 'css' %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/rateYo/2.3.2/jquery.rateyo.min.css">
{% endaddtoblock %}
{% addtoblock 'js' %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/rateYo/2.3.2/jquery.rateyo.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.11/handlebars.min.js" charset="utf-8"></script>
<script src="{% static 'pluralize/pluralize.js' %}" charset="utf-8"></script>
<script type="text/javascript">
        var source   = document.getElementById("poi-card-template").innerHTML;
        var poiCardTemplate = Handlebars.compile(source);
        var lastCity = null;

        $(document).on("poimap:marker-added",  function(evt, poi){
            var context = {
                slug : poi.properties.slug,
                title: poi.properties.name,
                description: $(poi.properties.description).text().substring(0, 250),
                distance : poi.properties.distance / 1000,
                url : poi.properties.url,
                extra_data : poi.properties.extra_data,
                vote_count : poi.properties.vote_count ? pluralize('vote', poi.properties.vote_count, true) : "0 vote",
            };
            if(poi.properties.medias.length > 0){
                context.img_url = "{{MEDIA_URL}}/"+poi.properties.medias[0]
            }
            else {
                context.img_url = "{% static 'img/no_picture.svg'%}"
            }
            if(lastCity != poi.properties.city){
                lastCity = poi.properties.city;
                $("#cards").append(`<h3 class=''>${lastCity}</h3>`);
            };
            $("#cards").append(poiCardTemplate(context));
            $(`#rate-${poi.properties.slug}`).rateYo({
                rating: poi.properties.rating_score,
                readOnly: true,
                starWidth: "20px",
            });


        });
        $(document).on("poimap:fetch-secondary-data", function(e){
            var hash = window.location.hash;
            if(hash){
                $('html, body').animate({
                    scrollTop: $(hash).offset().top- $("nav").height() - 10
                }, 2000);
            }
        });

        $(document).on("poimap:marker-clicked", function(e, feature, layer) {
            $('html, body').animate({
                scrollTop: $(`#${feature.properties.slug}`).offset().top - $("nav").height() - 10
            }, 2000);
        });
</script>
{% endaddtoblock %}
